/* Box Model Hack */
* {
   box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

*{
	font-family: 'Open Sans', sans-serif;
}

body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
background: #222;
background-image: url('https://source.unsplash.com/1600x900/?landscape');
background-repeat: no-repeat;
background-size: cover;
}

.card {
	background: rgba(0,0,0,0.8);
	color: white;
	padding: 2em;
	border-radius: 30px;
	width: 100%;
	max-width: 420px;
	margin: 1em;

}
.search {
	display: flex;
	align-items: center;
	justify-content: center;

	
}
.searchbar {
	border: none;
	outline: none;
	padding: 0.4em 1em;
	border-radius: 24px;
	background: #7c7c7c2b;
	color: white;
	font-size: 120%;
	width: calc(100% - 80px);
}

.description {
	text-transform: capitalize;
	margin-left: 8px;
}
.icon {

}
.iconflex {
	display: flex;
	align-items: center;

}
.temp {
	margin: 0;
	margin-bottom: 0.5em;
}
button {
	margin: 0.5em;
	border-radius: 50%;
	border: none;
	height: 2.5em;
	width: 2.5em;
	outline: none;
	background: #7c7c7c2b;
	color: white;
	cursor: pointer;
	transition: 0.2s ease-in;

}
.iconColor {
	fill: white;}
button:hover {
	background: #7c7c7c6b
}

.temp {
	margin: 0;
}


