* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'IBM VGA';
    src: url("../fonts/Ac437_IBM_VGA_9x16.ttf");
}

body{
  font-family: 'IBM VGA', monospace;
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #fff;  
}

/* /* BLINK EFFECT */

@keyframes blinkingPrompt{
    0%{ color: #fff; }
    49%{ color: #fff; }
    60%{ color: transparent; }
    99%{ color:transparent; }
    100%{ color: #fff; }
}

.blink{
    animation:blinkingPrompt 1.2s infinite;
}

/* CRT MONITOR EFFECT
   Courtesy of Alec Lownes - aleclownes.com
   Link: http://aleclownes.com/2017/02/01/crt-display.html
*/
@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  /* animation: textShadow 1.6s infinite; */
}


/* POSITIONING */

main {
    width: 85%;
    margin: 0 auto;
    padding: 20px;
}

.credit {
  font-size: 1.2rem;
  text-transform: none;
  position: fixed;
  bottom: 20px;
  right: 25px;
}

div {
    display: inline-block;
    padding: 2px 5px;
    background: #808080;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.hide{
    display: none;
}

body *{
  margin: 5px;
}

/* STYLES */

a:link, a:visited {
  color: #9acd32;
}

a:hover, a:active {
  color: #ffff00;
}

.deliveryBtn{
    background: #808080;
}

body {
    background: #00f;

}