/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  text-align: center;
  font-family: 'Lexend Giga', 'Helvetica', sans-serif;
  padding-top: 15px;
}

.content {
  width: 100%;
  margin: 0 auto;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  height: auto;
}

p {
  font-size: 2em;
}

footer {
  padding-bottom: 50px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
