* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;

  background-image: url("../weatherApp/img/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
