html {
  font-family: sans-serif;
  background: #333333;
  padding: 0 5em;
}

h1 {
  color: white;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

li {
  margin: .25em;
}
.topic {
  background: tomato;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: .75rem;
}
/******************************************
/* BASE STYLES
/*******************************************/



/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
