/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

html{
  text-align: center;
  background-color: blanchedalmond
}

h1{
  font-size: 4rem;
}

h2{
  font-size: 2.5rem;
}

h3{
  font-size: 2rem;
}

input{
  font-size: 2rem;
}

button{
  font-size: 1.5rem;
}