/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html{
  font-size: 62.5%;
}
body {
  font-size: 4rem;
  text-align: center;;
}
span, a{
  display: block;
  text-decoration: none;
}
/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
h2{
  margin: 50px;
}
li{
  margin: 25px;
}
input, button{
  font-size: 3rem;
}