/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

button{
  margin: 40px;
  font-size: 40px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
