/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}


button, input{
  width: 10rem;
  height: 3rem;
}
h1, h2{
  text-align: center;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
